
nav
{
    background: grey;
    color: black;
    align-content: center;
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
}
.titl
{
    font-size: 2em;
    letter-spacing: 2px;
   
}
.logo
{
    font-family: cursive;
    font-size: 40px;
    text-align: left;
    padding-top: 15px;
}
.nav_button
{
    text-decoration: none;
    color: aliceblue;
    padding: 10px,20px;
}